<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      JRA
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">

  <div id="newflashHistory-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">


    <div class="container button-container" style="background-image: url('assets/img/Background 3.png'); height: 100%;padding-bottom: 350px;">
      <div class="row">

        <img src="assets/img/jra-trans.png" style="width: 256px;margin: 50px auto 0px;">

        <div class="col-xs-12 shadow-divider"></div>

        <div class="col-xs-12">
          <h4 style="text-align: center;color: #ffffff;font-size: 15px;margin-bottom: 40px;">
            <ion-icon  name="pin" style="color: #fff; font-size: 18px;"></ion-icon>
            New Town, Johannesburg City
          </h4>
        </div>
        <div class="col-xs-4">
          <button id="ProfileBtn" (click)="goNewIssue()" class = "button button-block" style="background: #fb9121;    max-height: 100px; color: #fff;">
            <ion-icon  name="add-circle" style="color: #fff; font-size: 43px;"></ion-icon><br>
            Log New<br>Issue
          </button>
        </div>

        <div class="col-xs-4">
          <button id="ProfileBtn" (click)="goAbout()" class = "button button-block" style="background: #fb9121; color: #fff;max-height: 100px;">
            <ion-icon  name="information-circle" style="color: #fff; font-size: 43px;"></ion-icon><br>
            About<br>JRA
          </button>
        </div>

        <div class="col-xs-4">
          <button id="ProfileBtn" class = "button button-block" style="background: #fb9121;    max-height: 100px; color: #fff;">
            <ion-icon  name="settings" style="color: #fff; font-size: 43px;margin-top: -15px;"></ion-icon><br>
            Watchlist
          </button>
        </div>

      </div>
    </div>

  </div>

</ion-content>
