page-newflash-history {
  .scroll-content {
    background: url('assets/img/Background.png') no-repeat;
    background-size: cover;
  }
  .button-container{
    padding-bottom: 50px;
  }
  .button-container button{
    box-shadow: 1px 4px 8px 0px #444242;
  }
  .button-container button ion-icon{
    margin-bottom: 8px;
  }
  .shadow-divider{
    height: 7px;
    box-shadow: 0px 4px 8px -2px #444242;
    margin: 50px 15px;
  }
  .bar-button-menutoggle-md{
    display: flex !important;
  }
  .back-button.show-back-button{
    display:none !important;
  }
}
