<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page9">

  <div class="container content" style="background-image: url('assets/img/Background 3.png');">
    <div class="row">
  <div class="col-xs-12" style="margin-top: 25px;">
    <img src="assets/img/jra-trans.png" style="display:block;width:70%;height:100%;margin-left:auto;margin-right:auto;" />
  </div>
  <div class="container" style=" margin-top: 30px;">
    <div class="row">
  

  <div id="about-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#fff;">
        <strong>About JRA Find&Fix</strong><br>

      The JRA is City-owned agency responsible for the maintenance, repair and development of Johannesburg&#39;s road network and storm water infrastructure, including bridges, culverts, traffic lights and signage.
      <br> <strong>version:0.0.1</strong>
    </p>
  </div>
  
    </div>
  </div>
  <div>
    <img src="assets/img/eoh.jpeg" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
    </div>
  </div>

</ion-content>