<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Current Location
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page11">
  <div>
    <img src="assets/img/oIR0locUShStU3hYGVgM_GoogleMap-1-200x100-e1479510769475.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
  <h4 id="currentLocation-heading3" style="color:#FF8F02;">
    MOST RECENT ISSUES
  </h4>
  <div id="currentLocation-container5">
    <div id="currentLocation-container6">
      <div id="currentLocation-container9"></div>
      <div id="currentLocation-markdown4" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>
            Heading
          </strong>
        </p>
      </div>
      <div id="currentLocation-markdown8" class="show-list-numbers-and-dots">
        <p style="color:#555555;">
          Status
        </p>
      </div>
      <div id="currentLocation-markdown5" class="show-list-numbers-and-dots">
        <p style="color:#555555;">
          Date
        </p>
      </div>
      <div id="currentLocation-markdown6" class="show-list-numbers-and-dots">
        <p style="color:#555555;">
          Ref
        </p>
      </div>
      <div id="currentLocation-markdown7" class="show-list-numbers-and-dots">
        <p style="color:#555555;">
          Discription
        </p>
      </div>
    </div>
  </div>
  <button id="currentLocation-button20" ion-button color="energized" style="border-radius:100px 100px 100px 100px;">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-content>