page-manage-watchlists {

}
.bar-button-menutoggle-md {
    color: #fff;
}
.toolbar-title-md {
    color: white;
}
#manageWatchlists-button18 {
    background-color: transparent;
    color: black;
}
ion-md-arrow-forward {
    margin-left: 200px;
}
#manageWatchlists-button19 {
    background-color: transparent;
}
.item-divider-md-light {
    height: 1px;
}