<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Manage Watchlists
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4" style="background-color:#EEEEEE;">
  <div class="container" style="background-image: url('assets/img/Background 3.png'); height: 100%;">
  <div id="manageWatchlists-markdown2" class="show-list-numbers-and-dots">
    <p style="color:#fff;font-size:12px;">
      Watchlists allow you to be notified of and view issues reported in regions of interest
    </p>
  </div>
  <button id="manageWatchlists-button18" style="color: #fff;" ion-button color="stable" block icon-right style="text-align:left;">
    Current Location
    <ion-icon name="arrow-round-forward"></ion-icon>
  </button>
<!-- google map -->
  <div class="container">
    <div class="row">
      <div id="map" style="width:100%;height:200px"> map </div>
      </div>
    </div>
<!-- /google map -->

  <ion-list id="manageWatchlists-list2">
    <ion-item-divider color="light" id="manageWatchlists-list-item-divider3">
      21 woodlands drive woodmead country club estate
    </ion-item-divider>
  </ion-list>
  <div id="manageWatchlists-container4">
    <h4 id="manageWatchlists-heading2" style="color:#fff;text-align:center;">
      You have no subcriptions!
    </h4>
  </div>
  <div id="manageWatchlists-markdown3" class="show-list-numbers-and-dots">
    <p style="color:#fff;">
      Subscribing to watchlists allow you to be notified of relevant events and notices for areas you care about.
    </p>
  </div>
  </div>
</ion-content>