<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Issue Details
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page10">
  <button id="issueDetails-button13" ion-button clear color="dark" block style="text-align:left;">
    <ion-icon name="alert"></ion-icon>
    General
  </button>
  <div>
    <img src="assets/img/n86y26h8Q96v4Zsr19Y0_GoogleMap-1-200x100-e1479510769475.jpg" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
  </div>
  <div id="issueDetails-container3">
    <h5 id="issueDetails-heading1" style="color:#555555;">
      Photos
    </h5>
    <button id="issueDetails-button14" ion-button clear color="calm">
      <ion-icon name="camera"></ion-icon>
      Add photo
    </button>
    <button id="issueDetails-button15" ion-button clear color="calm">
      <ion-icon name="camera"></ion-icon>
      Add photo
    </button>
    <button id="issueDetails-button16" ion-button clear color="calm">
      <ion-icon name="camera"></ion-icon>
      Add photo
    </button>
  </div>
  <form id="issueDetails-form1">
    <ion-item id="newIssue-textarea1">
      <ion-label>
        Description *
      </ion-label>
      <ion-textarea placeholder=""></ion-textarea>
    </ion-item>
  </form>
  <button id="issueDetails-button17" ion-button color="energized" style="border-radius:100px 100px 100px 100px;">
    <ion-icon name="checkmark"></ion-icon>
  </button>
</ion-content>