<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <img id="logo" src="assets/img/jra-trans.png" style="display:block;width:60%;height:auto;margin-left:auto;margin-right:auto;" />
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21">
    <ion-list id="jRA-list1">
      <ion-item color="none" menuClose="" on-click="goToNotifications()" id="jRA-list-item12" style="border-bottom: 1px solid #252323;margin-top: 15px;">
        <ion-icon name="person" item-left></ion-icon>
        Profile
      </ion-item>
      <ion-item color="none" href="mailto:stanleymmdhlaluse@gmail.com" id="jRA-list-item13">
        <ion-icon name="mail-open" item-left></ion-icon>
        Inbox
        <ion-badge item-end style="background-color: transparent; border: 3px solid #d3108f; border-radius: 20px;">10</ion-badge>
      </ion-item>
      <ion-item color="none" id="jRA-list-item13">
        <ion-icon name="images" item-left></ion-icon>
        Gallery
        <ion-badge item-end style="background-color: transparent; border: 3px solid #31cc12; border-radius: 20px;">5</ion-badge>
      </ion-item>
      <ion-item color="none" id="jRA-list-item13" style="border-bottom: 1px solid #252323;">
        <ion-icon name="pin" item-left></ion-icon>
        Location
        <ion-badge item-end style="background-color: transparent; border: 3px solid #e5920d; border-radius: 20px;">1</ion-badge>
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToLogANewIssue()" id="jRA-list-item4">
        <ion-icon name="add-circle" item-left></ion-icon>
        Log a New Issue
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToMyLoggedIssues()" id="jRA-list-item7">
        <ion-icon name="archive" item-left></ion-icon>
        Reported Issues
        <ion-badge item-end style="background-color: transparent; border: 3px solid #1e2dce; border-radius: 20px;">3</ion-badge>
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToManageWatchlists()" id="jRA-list-item8" style="border-bottom: 1px solid #252323;">
        <ion-icon name="settings" item-left></ion-icon>
        Watchlists
      </ion-item>
      <ion-item color="none" id="jRA-list-item13" style="border-bottom: 1px solid #252323;">
        <ion-icon name="person-add" item-left></ion-icon>
        Invite
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToAbout()" id="jRA-list-item14" style="border-bottom: 1px solid #252323;">
        <ion-icon name="information-circle" item-left></ion-icon>
        About JRA
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToJRAContactDetails()" id="jRA-list-item16">
        <ion-icon name="create" item-left></ion-icon>
        Signup
      </ion-item>
      <ion-item color="none" id="jRA-list-item15">
        <ion-icon name="log-out" item-left></ion-icon>
        Signout
      </ion-item>
      <ion-item color="none" menuClose="" on-click="goToCityRegions()" id="jRA-list-item16" style="border-bottom: 1px solid #252323;">
        <ion-icon name="book" item-left></ion-icon>
        Tutorial
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>