// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}
.toolbar-title-md {
    text-align: center;
    margin-left: -25px;
}
.item-md *{
	color:#fff !important;
	font-size: 13px;
    text-align: left;
}
#jRA-list-item-divider2 {
    background: transparent !important;
    box-shadow: 1px 4px 8px -3px #444242;
    margin-bottom: 15px;
}
ion-menu .scroll-content, ion-menu ion-item {
    background: rgba(0,0,0,0.9) !important;
}
ion-menu ion-item,.content-md,.md .menu-inner {
    background: transparent !important;
}
.button-inner {
    color: white !important;
}