page-notifications {

    .scroll-content {
        background: url('../../assets/img/Background 3.png') no-repeat;
        background-size: cover;
        margin-top: 0px !important;
    }
    .shadow-divider{
        height: 7px;
        box-shadow: 0px 4px 8px -2px #444242;
        margin: 30px 15px;
    }

}
#profileImg {
    width: 30%;
    height: 30%;
    border-radius: 100%;
}
.ProfPic p {
    text-align: center;
    color: #fff;
    font-size: 13px;
    margin-bottom: 0px;
}
.ProfPic h3 {
    text-align: center;
    color: #fff;
}
.ProfilePageTop {
    background-image: url("assets/img/galaxy.jpeg");
    height: 130px;
    padding: 0px;
}
.content {
    height: 100%;
    background-size: cover;
}
#ProfileBtn {
    margin-bottom: 15px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #464343;
    background: #fb9122; 
    color: #fff;
    height: 85px;
}
#profileImg{
    border: 6px solid;
    color: #fff;
}
.label-md{
    margin: 0px;
}
.ProfPic{
    margin-top: -30px;
    height: 230px;
}
.content-md hr {
    background-color: #3e3d3d;
    height: 1px;
    width: 85%;
    margin-top: 0px;
}
#headerImg {
    width: 100%;
    margin-top: 3px;
}
#dots {
     position: relative;
      background-color: #fff;
       border-radius: 5px;
        font-size: 0;
         margin-left: 160px;
          padding: 5px;
    }
    #dots:before {
        position: absolute;
        left: -20px;
        top: 0;
        content: '';
    
        background-color: #fff;
        border-radius: 5px;
        font-size: 0;
        padding: 5px;
    }
    
    #dots:after {
        position: absolute;
        left: 20px;
        top: 0;
        content: '';
        background-color: #fff;
        border-radius: 5px;
        font-size: 0;    
        padding: 5px;
    }
    .scroll-content {
        background-image: url('assets/img/Background 3.png');
    }