<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Profile
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page8">
<div class="container content" style="background-image: url('assets/img/Background 3.png'); background-size: cover;">

  <div class="container ProfilePageTop" >
    <div class="row">
        <img id="headerImg" src="assets/img/galaxy.jpeg"/>
      
    </div>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-xs-12 ProfPic">
      <img id="profileImg" src="assets/img/profilepic.jpeg" style="display:block;width:40%;height:55%;margin-left:auto;margin-right:auto;" />
      <h3>Stanley Mdhlaluse</h3>
      <p>New Town, Johannesburg City</p>
      <span id="dots"></span>
    </div>
  </div>
  </div>

  <hr>

  <div class="container" >
    <div class="row">
<div class="col-xs-4">
  <button id="ProfileBtn" class = "button button-block" style="background: #fb9122;    height: 75px; color: #fff;">
    <ion-icon  name="mail-open" style="color: #fff; font-size: 43px;"></ion-icon><br>
  Inbox
</button>
</div>

<div class="col-xs-4">
  <button id="ProfileBtn" class = "button button-block" style="background: #fb9122; color: #fff;height: 75px;">
    <ion-icon  name="images" style="color: #fff; font-size: 43px;"></ion-icon><br>
  Gallery
</button>
</div>

<div class="col-xs-4">
  <button id="ProfileBtn" class = "button button-block" style="background: #fb9122;    height: 75px; color: #fff;">
    <ion-icon  name="pin" style="color: #fff; font-size: 43px;"></ion-icon><br>
  Location
</button>
</div>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="col-xs-4">
        <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #df3734; height: 75px; color: #fff;">
          <ion-icon  name="camera" style="color: #fff; font-size: 43px;"></ion-icon><br>
        Report
      </button>
      </div>
      
      <div class="col-xs-4">
        <button id="ProfileBtn" class = "button button-block" style="background: #fb9122;    height: 75px; color: #fff;">
          <ion-icon  name="person-add" style="color: #fff; font-size: 43px;"></ion-icon><br>
        Reported <br> 
        Issues
      </button>
      </div>
      
      <div class="col-xs-4">
        <button id="ProfileBtn" class = "button button-block" style="background: #fb9122;    height: 75px; color: #fff;">
          <ion-icon  name="settings" style="color: #fff; font-size: 43px;"></ion-icon><br>
        Watchlist
      </button>
      </div>

</div>

</div>


<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <button id="ProfileBtn" class = "button button-block" style="background: #fb9122;    height: 75px; color: #fff;">
              <ion-icon  name="person-add" style="color: #fff; font-size: 43px;"></ion-icon><br>
            Invite
          </button>
          </div>
          
          <div class="col-xs-4">
            <button id="ProfileBtn" class = "button button-block" style="background: #fb9122;    height: 75px; color: #fff;">
              <ion-icon  name="camera" style="color: #fff; font-size: 43px;"></ion-icon><br>
            About JRA
          </button>
          </div>
          
          <div class="col-xs-4">
            <button id="ProfileBtn" class = "button button-block" style="background: #fb9122;    height: 75px; color: #fff;">
              <ion-icon  name="settings" style="color: #fff; font-size: 43px;"></ion-icon><br>
            Settings
          </button>
          </div>
      
    </div>
    
    </div>


    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <button id="ProfileBtn" class = "button button-block" style="background: #fb9122;    height: 75px; color: #fff;">
                  <ion-icon  name="person-add" style="color: #fff; font-size: 43px;"></ion-icon><br>
                Logout
              </button>
              </div>
          
        </div>
        
        </div>
</div>
</ion-content>