<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      New Issue
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page10">


  <h4>
    <ion-icon name="alert"></ion-icon>General
  </h4>

  <!-- google map -->
  <div class="col-xs-12">
      <h5 id="newIssue-heading1" style="margin-top: 20px;">
        Location
      </h5>
  </div>
  <div #map id="map" style="width: 100%; height: 200px; ">map</div>
  <!-- /google map -->

      <div id="newIssue-container3" style="background-image: url('assets/img/Background 3.png');">
        <div class="row">

          <div class="col-xs-12">
            <h5 id="newIssue-heading1">
              Photos
            </h5>
          </div>
      
          <div class="col-xs-4">
            <button id="newIssue-button14" ng-click="CameraOptions()" class="btn">
              <ion-icon name="camera">+</ion-icon><br>
              Add photo
            </button>
          </div>
        
          <div class="col-xs-4">
            <button id="newIssue-button15" class="btn">
              <ion-icon name="camera">+</ion-icon><br>
              Add photo
            </button>
          </div>
        
          <div class="col-xs-4">
            <button id="newIssue-button16" class="btn">
              <ion-icon name="camera">+</ion-icon><br>
              Add photo
            </button>
          </div>

          <div class="col-xs-12">
            <h5 id="newIssue-heading1" style="margin-top: 20px;">
              Discription
            </h5>
          </div>

        <div class="col-xs-12">
          <form>
            <div class="form-group">
              <textarea name="message" rows="5" cols="30" class="form-control" id="Discription" placeholder="Discription"></textarea>
            </div>
            <button type="submit" class="btn submit-btn"><ion-icon name="checkmark"></ion-icon></button>
          </form>
        </div>

        </div>
      </div>

</ion-content>