page-new-issue {
	.scroll-content {
    	background: url('../../assets/img/Background.png') no-repeat;
    	background-size: cover;
  	}
  	.button-inner,h4 {
    	color: white;
    	text-align: center;
	}
	h4{
	    margin-bottom: 20px;
	    margin-top: 20px !important;

	}
	h4 ion-icon{
		font-size: 25px !important;
	}
	#newIssue-heading1{
		color:white;
		text-align: center;
	}
	#newIssue-container3{
		padding-top:20px;
	}
	#newIssue-container3 button {
    	background-color: #fb9121;
    	color: #fff;
    	box-shadow: 2px 3px 3px -2px #444242;
	}
    .scroll {
        height: 100%
    }
    .submit-btn{
    	float: right;
    	border: none;
    	color: #fff;
    	width: 50px;
    	height: 50px;
    	border-radius: 100px;
    }
    #map {
        width: 100%;
        height: 100%;
    }
    .row {
    	margin-right: 0px;
    	margin-left: 0px;
	}
	.shadow-divider{
    height: 7px;
    box-shadow: 0px 4px 8px -2px #444242;
    margin: 50px 15px;
  	}
}
