$SIDEMENU_TOP: #ff4b1f;
$SIDEMENU_BOTTOM: #ff9068;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);

page-my-logged-issues {

}

div.toolbar-background.toolbar-background-md {
    background: #fb9122;
    height: 90px;
}
img{
    width: 50px; 
}
#LoggedIssueBnt {
    color: #fff;
    font-weight: 900;
    height: 60px;
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: transparent;
}
#LoggedIcon {
    float: right;
    font-size: 50px;
}
.scroll-content {
    background-color: white;
}
ion-item{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 350, from(white), to(orange));
}

#jRA-list-item-divider2 {
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(radial, 0% 0%, 0, 0% 0%, 350, from(white), to(white));
}
.menu-inner{
    background: -webkit-gradient(radial, -50% 70%, 50, -30% 70%, 400, from(white), to(orange));
}

.energized{
    background: orange;    
}
#newIssue-textarea1 {
    border: 1px solid;
    border-color: grey;
}
#map {
    width: 350px;
    height: 200px;
    border: 1px solid;
    border-color: grey;
}
// .scroll-content {
//     background: -webkit-linear-gradient(left, rgb(255, 153, 0 ), rgb(255, 153, 0 )); /* For Safari 5.1 to 6.0 */
//     background: -o-linear-gradient(right, rgb(255, 153, 0 ), rgb(255, 153, 0 )); /* For Opera 11.1 to 12.0 */
//     background: -moz-linear-gradient(right, rgb(255, 153, 0 ), rgb(255, 153, 0 )); /* For Firefox 3.6 to 15 */
//     background: linear-gradient(to right, rgb(255, 153, 0 ), rgb(255, 153, 0 )); /* Standard syntax (must be last) */
// }
ion-menu .scroll-content {
    background: -webkit-gradient(linear, left top, right top, from(#fbeedc), to(#ff9900));
    
}
.list-md .item-block .item-inner {
    border-bottom: 0px solid #dedede;
}
ion-item-divider{
    min-height: 10px;
}
button-inner {
    color: grey;
}
.ion-md-menu {
    color: #fff;
    font-weight: 900;
}
#logANewIssue-container1 ion-icon {
    padding: 10px;
}
#logANewIssue-container2 ion-icon{
    padding: 10px;
}
button {
}
#manageWatchlists-list-item-divider3{
    display: none;
}
p {
    color: #636363
}
ion-app.md [padding] .scroll-content {
    padding: 0px;
}
.button-md{
    
    color: #fff;
}
.toolbar-title-md {
    font-weight: 900;
}

