<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      My Logged Issues
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  
  <div class="container" style="background-image: url('assets/img/Background 3.png'); height: 100%;">
    <div class="row">
  <button id="LoggedIssueBnt" style="box-shadow: 1px 1px 5px #464343;" class = "button button-block" on-click="goToNewIssue()">
      <ion-icon id="LoggedIcon" name="alert"></ion-icon>
    General <br>
    Report ID: 45DF623 <br>
    Date: 18-08-2017
 </button>
 <button id="LoggedIssueBnt" style="box-shadow: 1px 1px 5px #464343;" class = "button button-block" on-click="goToNewIssue()">
    <ion-icon id="LoggedIcon" name="car"></ion-icon>
  Pothole <br>
  Report ID: 45DF623 <br>
  Date: 18-08-2017
</button>
<button id="LoggedIssueBnt" style="box-shadow: 1px 1px 5px #464343;" class = "button button-block" on-click="goToNewIssue()">
    <ion-icon id="LoggedIcon" name="alert"></ion-icon>
  Traffic Signal <br>
  Report ID: 45DF623 <br>
  Date: 18-08-2017
</button>
    </div>
  </div>
</ion-content>
