<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Log a New Issue
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2" >
<div class="container content" style="background-image: url('assets/img/Background 3.png');">
  <div class="container">
      <div class="container" style="margin-top: 50px;" >
          <div class="row">
      <div class="col-xs-4" style=" padding-right: 0px;">
        <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #fb9122; height: 85px; color: #fff;">
          <ion-icon  name="add" style="color: #fff; font-size: 43px;"></ion-icon><br>
        General
      </button>
      </div>
      
      <div class="col-xs-4" style=" padding-right: 0px;">
        <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #fb9122; color: #fff;height: 85px;">
          <ion-icon  name="flash" style="color: #fff; font-size: 43px;"></ion-icon><br>
        Traffic <br>
        Signal
      </button>
      </div>
      
      <div class="col-xs-4" style=" padding-right: 0px;">
        <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #fb9122;    height: 85px; color: #fff;">
          <ion-icon  name="car" style="color: #fff; font-size: 43px;"></ion-icon><br>
        Pothole
      </button>
      </div>
          </div>
      </div>

      <div class="container">
          <div class="row">
              <div class="col-xs-4" style=" padding-right: 0px;">
                  <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #fb9122;    height: 85px; color: #fff;">
                    <ion-icon  name="thunderstorm" style="color: #fff; font-size: 43px;"></ion-icon><br>
                  StormWater <br>
                  Drainage
                </button>
                </div>
                
                <div class="col-xs-4" style=" padding-right: 0px;">
                  <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #fb9122;    height: 85px; color: #fff;">
                    <ion-icon  name="aperture" style="color: #fff; font-size: 43px;"></ion-icon><br>
                  Signage
                </button>
                </div>
                
                <div class="col-xs-4" style=" padding-right: 0px;">
                  <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #fb9122;    height: 85px; color: #fff;">
                    <ion-icon  name="cog" style="color: #fff; font-size: 43px;"></ion-icon><br>
                  Manhole <br>
                  Cover
                </button>
                </div>
          
          </div>
          
          </div>
  
</div>

  <div class="container" style="margin-top: 20px">
    <div id="logANewIssue-markdown1" class="show-list-numbers-and-dots">
      <h4 style="color:#fff;font-weight: 900;margin-left: 15px;">
        Other Issues
      </h4>
    </div>

    <div class="container"  >
        <div class="row">
    <div class="col-xs-4" style=" padding-right: 0px;">
      <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #fb9122; height: 85px; color: #fff;">
        <ion-icon  name="planet" style="color: #fff; font-size: 43px;"></ion-icon><br>
      Rough <br>
      Dirt Road
    </button>
    </div>
    
    <div class="col-xs-4" style=" padding-right: 0px;">
      <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #fb9122; color: #fff;height: 85px;">
        <ion-icon  name="leaf" style="color: #fff; font-size: 43px;"></ion-icon><br>
      Grass<br>
      Cutting
    </button>
    </div>
    
    <div class="col-xs-4" style=" padding-right: 0px;">
      <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #fb9122; height: 85px; color: #fff;">
        <ion-icon  name="closed-captioning" style="color: #fff; font-size: 43px;"></ion-icon><br>
      Street <br>
      Names
    </button>
    </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-4" style=" padding-right: 0px;">
                <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #fb9122;    height: 85px; color: #fff;">
                  <ion-icon  name="analytics" style="color: #fff; font-size: 43px;"></ion-icon><br>
                Road <br>
                Markings
              </button>
              </div>
              
              <div class="col-xs-4" style=" padding-right: 0px;">
                <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #fb9122;    height: 85px; color: #fff;">
                  <ion-icon  name="compass" style="color: #fff; font-size: 43px;"></ion-icon><br>
                Pavements 
              </button>
              </div>
              
              <div class="col-xs-4" style=" padding-right: 0px;">
                <button id="ProfileBtn" class = "button button-block" on-click="goToNewIssue()" style="background: #fb9122;    height: 85px; color: #fff;">
                  <ion-icon  name="construct" style="color: #fff; font-size: 43px;"></ion-icon><br>
                Guardrails
              </button>
              </div>
        
        </div>
    </div>
        </div>
</div>
</ion-content>