page-log-anew-issue {

}
.label-md {
    color: #71747d;
}
.button-inner{
    color: grey;
}
.ion-md-menu {
    color: grey;
}
.ion-md-car {
    color: orange;
}
.ion-md-alert {
    font-size: 40px;
}
.label {
    font-size: 100%;
}