page-city-regions {
  
  .swiper-pagination-bullet-active {
    background: #ffffff;
  }
  .button-inner{
    color: red !important;
  }
  .scroll-content {
    background: url('assets/img/Background.png') no-repeat;
    background-size: cover;
  }
}
