<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Get Started
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7" style="background-color:#EEEEEE;">
  <ion-slides pager>

  <ion-slide style="background-color: #f7921f;">
    <div style="
    position: relative;
    height: 30px;
    margin-bottom: -20px;
    background-color: #f7921f;
    "></div>
    <img src="assets/img/Walkthrough.png">
    <div style="
    position: relative;
    height: 150px;
    margin-top: -130px;
    background-color: #f7921f;
    "></div>
  </ion-slide>

  <ion-slide style="background-color: #e13534;">
    <div style="
    position: relative;
    height: 30px;
    margin-bottom: -20px;
    background-color: #e13534;
    "></div>
    <img src="assets/img/Walkthrough%202.png">
    <div style="
    position: relative;
    height: 150px;
    margin-top: -130px;
    background-color: #e13534;
    ">
      <button ion-button (click)="goHome()" class="btn btn-large" style="
      margin-top: 30px;
      color: #e13534;
      background-color: #ffffff;
      ">GET STARTED</button>
    </div>
  </ion-slide>


</ion-slides>
</ion-content>
