<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
       SIGNUP
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">

<div class="container content" style="background-image: url('assets/img/Background 3.png');">
  <div class="row">

    <div class="col-xs-12">
      <img src="../../assets/img/jra-trans.png">
    </div>

    <div class="col-xs-12">
      <form>

        <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Name & Surname">
        </div>

        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Email Address">
        </div>

        <div class="form-group">
          <input type="password" class="form-control" id="pwd" placeholder="Your Password">
        </div>

        <div class="checkbox">
          <label><input type="checkbox"> By using this app you agree to accept our terms and conditions.</label>
        </div>

        <button ion-button full type="submit" id="submit-btn">LOGIN</button>

      </form>
    </div>

    <div class="col-xs-12">
        
      <button ion-button full icon-left class="facebook">
        <ion-icon name="facebook"></ion-icon>
        Signup With Facebook
      </button>

      <button ion-button full icon-left class="google">
        <ion-icon name="googleplus"></ion-icon>
        Signup With Google+
      </button>

      <button ion-button full icon-left class="twitter">
        <ion-icon name="twitter"></ion-icon>
        Signup With Twitter
      </button>
    </div>

  </div>
</div>

</ion-content>