page-j-racontact-details {
	.scroll-content {
    	background: url('../../assets/img/Background.png') no-repeat;
    	background-size: cover;
  	}
  	img {
  		width: 100%;
  		margin: 50px auto;
  	}
  	.form-group input{
    	background-color: #fb9121;
    	border: none;
    	border-radius: 0px;
	}
	label{
		color:white;
		font-size: 12px;
	}
	#submit-btn{
		background-color:#fb9121; 
		border-radius: 10px;
		margin: 20px auto;
	}
	#submit-btn span{
		color: white;
	}
	input::-webkit-input-placeholder { /* Chrome */
  		color: white;
	}
	.facebook{
		background-color:#3b5796; 

	}
	.google{
		background-color:#ef0108; 

	}
	.twitter{
		background-color:#01aaf0; 

	}
	.facebook span,.google span,.twitter span{
		color: white;
	}
	.facebook,.google,.twitter{
		margin-bottom: 10px
	}

}
